#logo{
    max-width: 600px;
    width: 100%;
}
.main-menu{
    margin-top: 15px;
    margin-bottom: 30px;
}
.header-text{
    color: indigo;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    height: 20px;
    line-height: 30px;
}