#logo{
    max-width: 600px;
    width: 100%;
}
.main-menu{
    margin-top: 15px;
    margin-bottom: 30px;
}
.header-text{
    color: indigo;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    height: 20px;
    line-height: 30px;
}
.blog-item{
    margin-bottom: 30px;
}
.blog-item h4{
    text-align: center;
}
.blog-item h4 a{
    text-decoration: none;
}
.blog-item img, .blog-item h4 a{
    transition: all .15s linear;
}
.blog-item:hover img{
    transform: scale(1.03, 1.03);
}
.blog-item:hover h4 a{
    top: 3px;
    color: darkred;
}