{% extends 'base.html' %}
{% block content %}
    <h2>{{ article.title }}</h2>
    {% if article.image %}
        <img class='img-thumbnail' src="{{ article.image.url }}" alt="">
    {% endif %}


    <p>{{ article.text }}</p>
    {% if article.user %}
        <p><b>автор: </b>{{ article.user.first_name }} {{ article.user.last_name }}</p>
        {% if article.user.image %}
            <img class='img-thumbnail' src="{{ article.user.image_thumbnail.url }}" alt="">
        {% endif %}

    {% endif %}

    <p>
        {% for tag in article.tag.all %}
            <a href="{% url 'blog_tag_article' tag_id=tag.id %}">#{{ tag.name }}</a>&nbsp;
        {% endfor %}

    </p>

    <p style="text-align: right">
        Дата: <b>{{ article.publish_date }}</b>
    </p>

    <p style="text-align: right">
        Категорія: <b>{{ category.name }}</b>
    </p>
{% endblock %}
